@{

}
<h1>@ViewData["Title"]</h1>
@model Grades
<div class="bg-success rounded-3 m-auto p-3">

    <h3 class="m-3">Calculate your grade here!</h3>
    <div class="d-flex justify-content-center">
        <form method="post" style="width: 50%">
            <label>Assignment Grade</label>
            <input type="number" asp-for="assignment" class="form-control" id="asgGrade" />
            <br />

            <label>Group Project Grade</label>
            <input type="number" asp-for="project" class="form-control" id="projectGrade" />
            <br />

            <label>Quizzes Grade</label>
            <input type="number" asp-for="quiz" class="form-control" id="quizGrade" />
            <br />

            <label>Exams Grade</label>
            <input type="number" asp-for="exam" class="form-control" id="examGrade" />
            <br />

            <label>Intext Grade</label>
            <input type="number" asp-for="intex" class="form-control" id="intexGrade" />
            <br />
            <input type="submit" value="Calculate Grade" class="form-control" id="calcGrade" />

            <div asp-validation-summary="All">

            </div>
        </form>


    </div>

</div>

<div class=" d-flex justify-content-center flex-column bg-danger p-5 m-3 rounded-3">

    <div class=" d-flex justify-content-center">
        <p>Final Grade Numerical:    </p>
        <br />

        <p id="finalGradeNum"></p>
    </div>

    <div class=" d-flex justify-content-center">
        <p>Final Grade Letter:   </p>
        <br />
        <p id="finalGradeLetter"></p>
    </div>

</div>